/**
 * @param level 1 一级阴影 2 二级阴影 3 三级阴影 4 四级阴影
 */
@function arco-box-shadow($level) {
  $var: 0px 8px 20px;
  @if $level <= 1 {
    $var: 0px 2px 5px;
  }

  @if $level == 2 {
    $var: 0px 4px 10px;
  }

  // TODO https://arco.design/docs/spec/style-guideline#%E9%98%B4%E5%BD%B1
  @if $level == 3 {
    $var: 0px 4px 10px;
  }

  @return $var rgba(0, 0, 0, .1);
}
