div.colors {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  margin-bottom: 1rem;

  & > div {
    width: 2rem;
    height: 1rem;
    background-color: blue;
  }
}

div {
  
  &.light, &.dark {
    display: inline-flex;
    flex-direction: column;
    color: whitesmoke;

    & > div {
      height: 46px;
      width: 300px;
      line-height: 46px;
      padding-left: .5rem;
    }
  }

}
